Options -Indexes
RewriteEngine On
RewriteRule ^(?:\.git|config|storage|database|src|views)(?:/|$) - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
